@import "compass/reset";

body {
	padding: 10px;
}

ul {
	font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
	color: rgba(0,0,0,0.5);
	
	li {
		list-style:none;
		float: left;
		margin-right: 5px;
		margin-bottom: 5px;
		padding: 5px;
		background-color: rgba(0,0,0,0.2);
		
		p {
			font-size: 12px;
			font-weight: bold;
			padding: 5px;
			text-transform: uppercase;
		}
		img {
			
		}
	}
}